.side-bar {
  top: 0;
  padding-top: 70px;
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 2;
  transform: translate(-170px);
  background-color: rgba($color: whitesmoke, $alpha: 0.8);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  li {
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 20px;
    i {
      width: 30px;
    }
    span {
      margin-right: 10px;
    }
  }
}
