.video-mixin {
  .video-mixin__thumb {
    height: 200px;
    width: 350px;
    border-radius: 7px;
    background-color: black;
    object-fit: cover;
  }
  .video-mixin__data {
    padding-top: 2px;
    width: 350px;
    .video-mixin__title {
      width: 100%;
      font-size: 23px;
      margin-bottom: 5px;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .video-mixin__meta {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;
      opacity: 0.8;
    }
  }
}
