extends base

block content 
    main 
        if errorMessage 
            span=errorMessage
        form(method="post") 
            input(type="text", placeholder="Old Password", name="oldPassword")
            input(type="text", placeholder="New Password", name="newPassword")
            input(type="text", placeholder="New Password Confirmation", name="newPassword1")
            input(type="submit", value="Change Password")