extends base

block content 
    form(method="post") 
        input(type="password", placeholder="Old Password", name="oldPassword", maxlength=30)
        input(type="password", placeholder="New Password", name="newPassword", minlength=4, maxlength=16)
        input(type="password", placeholder="New Password Confirmation", name="newPassword1", maxlength=30)
        if errorMessage
            include partials/errorMessage
        input.change-password__submit(type="submit", value="Change Password")