extends base

block content
    main
        form(method="post")  
            input(name='title', placeholder="Video Title",required)
            input(name='save', type="submit")
    include partials/footer