extends base

block content 
    form(method='post')
        input(name="email", type="email", required, placeholder="Email address", maxlength=30)
        input(name="name",type="text", required, placeholder="Name", minlength=4, maxlength=16)
        input(name="password", type="password", required, placeholder="Password", minlenth=8, maxlenth=16)
        input(name="password2", type="password", required, placeholder="Confirm Password", maxlength=20)
        input(name="location", type='text', placeholder="Location", maxlength=30)
        input(type="submit", value="Join")
        include partials/social-login
    div.auth-switch
        span Already have an account? 
        a(href="/login") Log in now &rarr;