extends base

block content 
    video#preview
    div 
        button#actionBtn Start recording
    if errorMessage 
        span=errorMessage
    form(method="post", enctype="multipart/form-data") 
        label(for="video") Video File
        input(type="file", id="video", name="video", required, accept="video/*")
        label(for="thumb") Thumbnail File
        input(type="file", id="thumb", name="thumb", required, accept="image/*")
        input(type="text", name="title", required, placeholder="Title")
        input(type="text", name="description", required, placeholder="Description")
        input(type="text", name="hashtags", required, placeholder="Hashtags, separated by comma.")
        input(type="submit", value="Upload Video")

block scripts
    script(src="/build/js/recorder.js") 