extends base

block content 
    main 
        form(method="post") 
            input(type="text", name="title", required, placeholder="Title")
            input(type="submit", value="Upload the Video")