extends base

block content 
    div.upload__container
        div.upload__video
            video#preview
            button#actionBtn.social__btn Start Recording
        form(method="POST", enctype="multipart/form-data")
            label(for="video") Video File
            input(type="file", accept="video/*", required, id="video", name="video", maxlength=300)
            label(for="thumb") Thumbnail File
            input(type="file", accept="image/*", required, id="thumb", name="thumb", maxlength=300)
            input(placeholder="Title", required, type="text", name="title", minlength=5, maxlength=80)
            input(placeholder="Description", required, type="text", name="description", maxlength=500)
            input(placeholder="Hashtags, separated by comma, without #", required, type="text", name="hashtags", maxlength=100)
            if errorMessage
                include partials/errorMessage
            input(type="submit", value="Upload Video")

block scripts
    script(src="/static/js/recorder.js") 