header
    a(href="/").header__logo
        i.fab.fa-youtube
    div.search__form-container
        form(method="GET", action="/search").search__form
            input(type="text", required, placeholder="Search by text", name="keyword")
            button
                i.fas.fa-search
    nav
        ul
            if loggedIn
                li
                    a(href="/videos/upload") Upload Video
                li
                    a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}의 Profile
                li 
                    a(href="/users/edit") Edit profile
                li 
                    a(href="/users/logout") Log out
                li
                    a(href=`/users/${loggedInUser._id}`)
                        if !loggedInUser.avatarUrl
                            span 😄
                        else 
                            img.header__avatar(src="/" + loggedInUser.avatarUrl)
            else
                li 
                    a(href="/login") Login 
                li 
                    a(href="/join").header__btn Join