div.side-bar
    ul 
        li
            span
                i.fas.fa-home
            a(href="/") Home
        if loggedIn 
            li
                span
                    i.fas.fa-address-book
                a(href=`/users/${loggedInUser._id}`) My Profile
            li
                span
                    i.fas.fa-user-edit
                a(href="/users/edit") Edit profile