div.side-bar
    ul 
        li
            span
                i.fas.fa-home
            a(href="/") Home
        if loggedIn 
            li
                span
                    i.fas.fa-address-book
                a(href=`/users/${loggedInUser._id}`) My Profile
            li
                span
                    i.fas.fa-user-edit
                a(href="/users/edit") Edit profile
            li
                span
                    i.fas.fa-video
                a(href="/upload") Upload video
            li 
                span 
                    i.fas.fa-arrow-right
                a(herf="/logout") Logout